<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Judge</title>
  </head>
  <body>
    <div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

    {% if current_user.is_authenticated %}
      Hi {{ current_user.name }}!
    {% endif %}
    <br>
    <a href="{{url_for('logout')}}">LogOut</a> <br>

    <h1>Just Visitor</h1>
    <table border="1">
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Text</th>
      </tr>
    {%for i in participantes %}

          <tr>
            <td><img src="{{picture}}" alt="" style="width:50px;height:50px;"/></td>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.text}}</td>
          </tr>
    {% endfor%}
    </table>


  </body>
</html>
